In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Mac_2k.log_structured.csv')

In [3]:
data.head()

,LineId,Month,Date,Time,User,Component,PID,Address,Content,EventId,EventTemplate
0,1,Jul,1,09:00:55,calvisitor-10-105-160-95,kernel,0,NaN,IOThunderboltSwitch<0>(0x0)::listenerCallback ...,E252,IOThunderboltSwitch<<*>>(<*>)::listenerCallbac...
1,2,Jul,1,09:01:05,calvisitor-10-105-160-95,com.apple.CDScheduler,43,NaN,Thermal pressure state: 1 Memory pressure stat...,E323,Thermal pressure state: <*> Memory pressure st...
2,3,Jul,1,09:01:06,calvisitor-10-105-160-95,QQ,10018,NaN,FA||Url||taskID[2019352994] dealloc,E216,FA||Url||taskID[<*>] dealloc
3,4,Jul,1,09:02:26,calvisitor-10-105-160-95,kernel,0,NaN,ARPT: 620701.011328: AirPort_Brcm43xx::syncPow...,E128,ARPT: <*>.<*>: AirPort_<*>::syncPowerState: WW...
4,5,Jul,1,09:02:26,authorMacBook-Pro,kernel,0,NaN,ARPT: 620702.879952: AirPort_Brcm43xx::platfor...,E124,ARPT: <*>.<*>: AirPort_<*>::platformWoWEnable:...

In [4]:
data.describe()

            LineId         Date           PID
count  2000.000000  2000.000000   2000.000000
mean   1000.500000     4.363500   8128.371500
std     577.494589     2.011813  13672.542824
min       1.000000     1.000000      0.000000
25%     500.750000     3.000000      0.000000
50%    1000.500000     4.000000     94.000000
75%    1500.250000     6.000000  10018.000000
max    2000.000000     8.000000  39203.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LineId         2000 non-null   int64
 1   Month          2000 non-null   object
 2   Date           2000 non-null   int64
 3   Time           2000 non-null   object
 4   User           2000 non-null   object
 5   Component      2000 non-null   object
 6   PID            2000 non-null   int64
 7   Address        54 non-null     object
 8   Content        2000 non-null   object
 9   EventId        2000 non-null   object
 10  EventTemplate  2000 non-null   object
dtypes: int64(3), object(8)
memory usage: 172.0+ KB

In [8]:
data.describe(include='object')

,Month,Time,User,Component,Address,Content,EventId,EventTemplate
count,2000,2000,2000,2000,54,2000,2000,2000
unique,1,1520,38,66,44,1185,341,341
top,Jul,23:22:09,authorMacBook-Pro,kernel,[10018],AppleCamIn::systemWakeCall - messageType = 0xE...,E189,com.apple.<*>: scheduler_evaluate_activity tol...
freq,2000,72,554,775,6,53,166,166

,LineId,Month,Date,Time,User,Component,PID,Address,Content,EventId,EventTemplate
count,2000.000000,2000,2000.000000,2000,2000,2000,2000.000000,54,2000,2000,2000
unique,NaN,1,NaN,1520,38,66,NaN,44,1185,341,341
top,NaN,Jul,NaN,23:22:09,authorMacBook-Pro,kernel,NaN,[10018],AppleCamIn::systemWakeCall - messageType = 0xE...,E189,com.apple.<*>: scheduler_evaluate_activity tol...
freq,NaN,2000,NaN,72,554,775,NaN,6,53,166,166
mean,1000.500000,NaN,4.363500,NaN,NaN,NaN,8128.371500,NaN,NaN,NaN,NaN
std,577.494589,NaN,2.011813,NaN,NaN,NaN,13672.542824,NaN,NaN,NaN,NaN
min,1.000000,NaN,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,500.750000,NaN,3.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
50%,1000.500000,NaN,4.000000,NaN,NaN,NaN,94.000000,NaN,NaN,NaN,NaN
75%,1500.250000,NaN,6.000000,NaN,NaN,NaN,10018.000000,NaN,NaN,NaN,NaN
max,2000.000000,NaN,8.000000,NaN,NaN,NaN,39203.000000,NaN,NaN,NaN,NaN